<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                CMS Primer
                <small class="d-block mb-3 text-muted">Another veryacademy example</small>
            </div>
            <div class="col-6 col-md">
                <h5>Admin</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Post Admin</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About Us</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/veryacademy/YT-Django-Crud-Example-Class-Based-Views/tree/master">Code Resource</a></li>
                    <li><a class="text-muted" href="https://www.youtube.com/watch?v=RwWhQTSV44Q&list=PLOLrQ9Pn6cazTA2QyG2R2UT7MQCAOK3W4&index=15">YouTube</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
